<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- Material Design Liteのテンプレートを一部使用 -->
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="description" content="A front-end template that helps you build fast, modern mobile web apps."/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0"/>
    <title>社員情報変更</title>

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes"/>
    <link rel="icon" sizes="192x192" href="images/android-desktop.png"/>

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta name="apple-mobile-web-app-title" content="Material Design Lite"/>
    <link rel="apple-touch-icon-precomposed" href="images/ios-desktop.png"/>

    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="images/touch/ms-touch-icon-144x144-precomposed.png"/>
    <meta name="msapplication-TileColor" content="#3372DF"/>
        
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.teal-red.min.css"/>
    <link rel="stylesheet" href="/styles.css"/>    
    
</head>
<body>
  <div class="demo-layout mdl-layout mdl-layout--fixed-header mdl-js-layout mdl-color--grey-100">
      <!-- ヘッダー部分 -->
      <header class="demo-header mdl-layout__header mdl-layout__header--scroll mdl-color--grey-100 mdl-color-text--grey-800">
        <div class="mdl-layout__header-row">
          <i class="material-icons" style="font-size:45px">account_circle</i>
          <span style="margin-right: 1em;"></span>
          <span style="font-size: 25px">社員情報変更</span>
          <span class="mdl-layout-title"></span>
        </div>
      </header>          
	<div class ="contents_row">
	  <div class="mdl-layout__container-row"> 
        <div class="demo-list-item mdl-list">
          <div class="demo-card-wide mdl-card mdl-shadow--2dp">			
		  	<form th:action="@{'/user/edit/'+${user.userId}}" method="post" th:object="${userForm}" class="edit_user" id="edit_user" enctype="multipart/form-data" accept-charset="UTF-8" action="/users">
		    	<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
		        	<label for="input_text" class="mdl-textfield__label">社員番号</label>
		        	<input id="user_userId" class="mdl-textfield__input" type="text" name="userId" th:value="${user.userId}" />
		        	<span th:if="${#fields.hasErrors('userId')}" th:errors="*{userId}" class="help-block" style="color:red; font-size:80%">userId error</span>
		    	</div><br/>
		    	<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
		        	<label for="input_text" class="mdl-textfield__label">氏名</label>
		        	<input id="user_name" class="mdl-textfield__input" type="text" name="name" th:value="${user.name}" />
		        	<span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="help-block" style="color:red; font-size:80%">name error</span>
		    	</div><br/>
		    	<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
		        	<label for="input_text" class="mdl-textfield__label">電話番号</label>
		        	<input id="user_phoneNumber" class="mdl-textfield__input" type="text" name="phoneNumber" th:value="${user.phoneNumber}" />
		        	<span th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}" class="help-block" style="color:red; font-size:80%">phoneNumber error</span>
		    	</div><br/>
		    	<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
		        	<label for="input_text" class="mdl-textfield__label">所属</label>
		        	<input id="user_department" class="mdl-textfield__input" type="text" name="department" th:value="${user.department}" />
		        	<span th:if="${#fields.hasErrors('department')}" th:errors="*{department}" class="help-block" style="color:red; font-size:80%">department error</span>
		    	</div><br/>
		    	<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
		        	<label for="input_text" class="mdl-textfield__label">パスワード(英数半角8文字以上)</label>
		        	<input id="user_password" class="mdl-textfield__input" type="text" name="password" th:value="*{password}" />
		        	<span th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="help-block" style="color:red; font-size:80%">password error</span>
		    	</div><br/>
		    	<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
		        	<label for="input_text" class="mdl-textfield__label">パスワード(確認用)</label>
		        	<input id="user_confirmPassword" class="mdl-textfield__input" type="text" name="confirmPassword" th:value="*{confirmPassword}" />
		        	<span th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}" class="help-block" style="color:red; font-size:80%">confirmPassword error</span>
		    	</div>
		    	
			    <div class="submit">
			      <div class="actions">
				    <input type="submit" name="commit" value="登録する" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored"></input>
				  </div>	  
				</div>	                
		    </form>
		  </div>
		</div>
      </div>
    </div>
    <div class="back">
      <div class="actions">
        <a th:href="@{'/user/detail/' + ${user.userId}}">	      
	      <button type="button" class="mdl-button mdl-js-button mdl-button--raised">戻る</button>
	    </a>
      </div>	  
	</div>
    <footer class="demo-footer mdl-mini-footer">
      <div class="mdl-mini-footer--left-section"></div>
    </footer>	
  </div>
</body>
<script src="https://code.getmdl.io/1.3.0/material.min.js"></script>  
</html>